.link {
    display: inline-block;
    color: #FCF1E0;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    background-color: #FD9222;
    padding: 14px 40px;
    border-radius: 100px;
    border: none;
   
    transition: background-color 300ms cubic-bezier(0.39, 0.575, 0.565, 1),
        color 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.link:hover,
.link:focus {
    background-color:  #eeb374;;
    color: #FCF1E0;
}

